.single__box{
	max-width: 850px;
	width: 100%;
	padding:0 30px;
	line-height: 1.5;
}
.single__box p {
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	padding-bottom:20px;
}
.single__box a{
	text-decoration:underline;
	transition: all .3s;
	color: #58A9F3;
}
.single__box a:hover{
	text-decoration:none;
	color: #58A9F3;
}
.single__box strong, .single__box b{
	font-weight: 700;
}
.single__box h2{
	font-weight: 500;
	font-size: 24px;
	color: #000000;
	padding-bottom:10px;
}
.single__box h3{
	font-weight: 500;
	font-size: 20px;
	color: #000000;
	padding-bottom:10px;
}
.single__box ul{
	list-style: unset;
    padding: 15px;
    font-size: 14px;
}
.single__box h1{
	font-weight: 700;
	font-size: 28px;
}
.single__box ul li{
	padding-bottom: 10px;
}
.single__box ol{
	list-style: auto;
    padding:15px;
    font-size: 14px;
}
.single__box .post-thumbnail{
	margin:15px 0;
}
.single__box figure{
	width: 100%!important;
}
.single__box .post-thumbnail img{
	width: 100%!important; 
	height: 100%!important; 
}
.single__box table{
	margin-bottom:30px;
}
.single__box table tr td {
    padding: 15px 12px;
    border: none;
    text-align: left;
    border: 1px solid rgba(218,218,255,.52);
}
@media only screen and (max-width: 768px) {
	.single__page .news__sidbar{
		display: none;
	}
}
